a{
  color: #EEE;
  background: #0992ee;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.delete {
  background-color: #ee093b;
  color: #EEE;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px solid #ee093b; 
}